body{
    box-sizing: border-box;
}
.contain{
    width: 300px;
    height: 440px;
    border: 1px solid rgba(69, 98, 227, 0.498);
    align-self: center;
    margin: 0 auto;
    padding: 20px 30px;
}
img{
    width: 300px;
    height: auto;
    background-size: cover;
}
.write h4{
    border: 1px solid grey;
    padding: 0.7em;
}
#ss h1{
    display: inline-block;
    margin: 0;
    padding-bottom: -15px;
}
.btn{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    /* padding: 0; */
    /* margin: 0; */
}
.btn button{
    width:99px;
    border: none;
    font-size: 800;
    padding: 0.6em;
    margin-top: 7px;
    border-radius: 8px;
    /* justify-content: space-between;  */
}
#btn1{
    background-color: green;
}
#btn2{
    background-color: red;
}
#reset{
    background-color: grey;

}